# https://docs.docker.com/engine/reference/builder/#dockerignore-file
/.ackrc
/coverage
/docker-compose.*
/Dockerfile*
/.env*
!/.env.test.defaults
/.eslintrc.json
/.git*
/logs
/node_modules
/nodemon.json
/.nyc_output
/public
/tmp
/.tool-versions
/.vscode
