# https://git-scm.com/docs/gitignore
/coverage
/data*
/.env*
/!.env.sample
/!.env.*.defaults
/logs
/node_modules
/.nyc_output
/public
*.pyc
__pycache__/
/.screenrc
/tmp
/.vscode
# yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
